.App {
  text-align: center;
}

.year-pickers {
  display: flex;
  margin: 10px auto 0px;
  justify-content: space-between;
  max-width: 300px;
}

.dropdown-pickers {
  margin: 0 auto;
  max-width: 350px;
}

.dropdown-pickers > div {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.dropdown-pickers select {
  width: 250px;
}