.App {
  text-align: center;
}

.year-pickers, .dropdown-pickers > div {
  display: flex;
  justify-content: space-between;
}

.year-pickers {
  margin: 10px auto 0px;
  max-width: 300px;
}

.dropdown-pickers {
  margin: 0 auto;
  max-width: 350px;
}

.dropdown-pickers > div {
  margin: 3px 0;
}

.dropdown-pickers select {
  width: 250px;
}

.message-area {
  margin: 1em auto 0.5em;
  line-height: 1em;
}

.error-message {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px;
}